@import "../../assets/ScssAssets/mixins.scss";

.repoPageMainContainer {
  padding-bottom: 3rem;
  .reposCardContainer {
    max-width: 90%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding-bottom: 1rem;
    @include sm {
      grid-template-columns: 1fr;
    }
  }
  .back-button {
    margin: 2rem 0;
    background: #2864bf;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    -webkit-box-shadow: 10px 3px 24px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 3px 24px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 3px 24px -9px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover {
      transform: scale(1.1);
    }
    &:focus {
      outline: none;
    }
  }
}
